.div-joy{
    height: 100%;
    width: 90%;
    margin:0px auto;

    /* background-color: yellow; */
}

.joy {
    /* margin:10px; */
    /* width: 500px; */
    /* height: 500px; */

    height: 100%;
    width: 90%;
    margin:0px auto;
    /* background-color: red; */
}

/* #joystick { */
    /* line-height: 100%; */
    /* text-align: center; */
    /* border: 1px solid #FF0000; */

    /* display: flex; */
    /* height: 300px; */
    /* align-items: center; */
/* } */