/* .container {
    height: 600px;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 50% 50%;
} */

/* .item1 {
    margin: 5px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: skyblue;
}

.item2 {
    margin: 5px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    position: relative;
    background-color: aqua;
}

.item3 {
    margin: 5px;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: blueviolet
} */

.row {
    height: 600px;
    /* background-color: aqua; */
}

/* .div-outside {
    background-color: aqua;
} */

/* .div-inside {
    background-color: yellow;
} */

.div-chart {
    height: 100%;
    width: 90%;
    margin:0px auto;
    /* background-color: red; */
}


/* .PolarChart { */
    /* height: 50%; */
    /* width: 50%; */
    /* background-color: gray; */
/* } */